<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citations</title>
</head>
<body>
    <h2>Citations</h2>
    <ul><li><p>James Wellnitz, Holli-Joi Martin, et. al.,
Journal of Chemical Information and Modeling Article ASAP
        DOI: 10.1021/acs.jcim.4c00412</p><p><a href="/static/stoplight.bib" download="stoplight.bib">Download Bibtex</a></p>
</li></ul>
    <h3>Please cite the relevant citations based on the properties you used:</h3>
    <h4>Assay Liabilities</h4>
        <ul><li><p>Vinicius M. Alves, Adam Yasgar, James Wellnitz, et. al.,
Journal of Medicinal Chemistry 2023 66 (18), 12828-12839
DOI: 10.1021/acs.jmedchem.3c00482
</p><p><a href="/static/liability.bib" download="liability.bib">Download Bibtex</a></p>
</li><li><p>Vinicius M. Alves, Stephen J. Capuzzi, et. al.,
Journal of Chemical Information and Modeling 2020 60 (8), 4056-4063
DOI: 10.1021/acs.jcim.0c00415
</p><p><a href="/static/scam_dect.bib" download="scam_detective.bib">Download Bibtex</a></p>
</li></ul>
    <h4>PK Properties</h4>
<ul><li><p>Marielle Rath, James Wellnitz, et. al.,
Journal of Medicinal Chemistry 2024 67 (8), 6508-6518
DOI: 10.1021/acs.jmedchem.3c02446
</p><p><a href="/static/phakinpro.bib" download="phakinpro.bib">Download Bibtex</a></p>
</li></ul>
</body>
</html>