<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stoplight Score Table</title>
    <style>
        table, th, td {
           border: 1px solid black;
        }
    </style>
</head>

<body>
    <h3>Stoplight Score Cutoffs</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Property</th>
                <th scope="col">0</th>
                <th scope="col">1</th>
                <th scope="col">2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Solubility in water</th>
                <td>>=50</td>
                <td>10-50</td>
                <td><10</td>
            </tr>
            <tr>
                <th scope="row">ALogP</th>
                <td><2</td>
                <td>2-3</td>
                <td>>3</td>
            </tr>
            <tr>
                <th scope="row">Molecular Weight</th>
                <td><=400</td>
                <td>400-500</td>
                <td>>500</td>
            </tr>
            <tr>
                <th scope="row">PSA</th>
                <td><=120</td>
                <td>120-140</td>
                <td>>140</td>
            </tr>
            <tr>
                <th scope="row">Num rotatable bonds</th>
                <td><=7</td>
                <td>8-10</td>
                <td>>=11</td>
            </tr>
            <tr>
                <th scope="row">FSP3</th>
                <td>>0.3</td>
                <td>0.2-0.3</td>
                <td><0.2</td>
            </tr>
        </tbody>

        <tr>
            <td>AmpC B agg</td>
            <td>>no agg</td>
            <td>agg</td>
            <td>NA</td>
        </tr>
        <tr>
            <td>Cruzain agg</td>
            <td>>no agg</td>
            <td>agg</td>
            <td>NA</td>
        </tr>
        <tr>
            <td>Firefly Luc inter</td>
            <td>>no inter</td>
            <td>inter</td>
            <td>NA</td>
        </tr>
        <tr>
            <td>Nano Luc inter</td>
            <td>>no inter</td>
            <td>inter</td>
            <td>NA</td>
        </tr>
        <tr>
            <td>Redox inter</td>
            <td>>no inter</td>
            <td>inter</td>
            <td>NA</td>
        </tr>
        <tr>
            <td>Thiol inter</td>
            <td>>no inter</td>
            <td>inter</td>
            <td>NA</td>
        </tr>
    </table>
</body>
</html>