<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
           border: 1px solid black;
        }
    </style>
</head>

<body>
    <h3>Stoplight Score Cutoffs</h3>
    <table>
        <tr>
            <th>Property</th>
            <th>0</th>
            <th>1</th>
            <th>2</th>
        </tr>
        <tr>
            <td>Solubility in water</td>
            <td>>=50</td>
            <td>10-50</td>
            <td><10</td>
        </tr>
        <tr>
            <td>LogP</td>
            <td><2</td>
            <td>2-3</td>
            <td>>3</td>
        </tr>
        <tr>
            <td>Molecular Weight</td>
            <td><=400</td>
            <td>400-500</td>
            <td>>500</td>
        </tr>
        <tr>
            <td>PSA</td>
            <td><=120</td>
            <td>120-140</td>
            <td>>140</td>
        </tr>
        <tr>
            <td>Num rotatable bonds</td>
            <td><=7</td>
            <td>8-10</td>
            <td>>=11</td>
        </tr>
        <tr>
            <td>FSP3</td>
            <td>>0.3</td>
            <td>0.2-0.3</td>
            <td><0.2</td>
        </tr>
        <tr>
            <td>AmpC B agg</td>
            <td>>no agg</td>
            <td>agg</td>
            <td>NA</td>
        </tr>
        <tr>
            <td>Cruzain agg</td>
            <td>>no agg</td>
            <td>agg</td>
            <td>NA</td>
        </tr>
        <tr>
            <td>Firefly Luc inter</td>
            <td>>no inter</td>
            <td>inter</td>
            <td>NA</td>
        </tr>
        <tr>
            <td>Nano Luc inter</td>
            <td>>no inter</td>
            <td>inter</td>
            <td>NA</td>
        </tr>
        <tr>
            <td>Redox inter</td>
            <td>>no inter</td>
            <td>inter</td>
            <td>NA</td>
        </tr>
        <tr>
            <td>Thiol inter</td>
            <td>>no inter</td>
            <td>inter</td>
            <td>NA</td>
        </tr>
    </table>
</body>
</html>